img{
  vertical-align: middle;
}
.horizontal-card{
  height: 200px;
  color: white;
  position:relative;
  margin:1em 0em 1em 0em;
}
.horizontal-card-image{
 height:200px;
  width: 200px;
  float:left;
  background: #c55d03;
  margin-right: 1em;
}

.horizontal-card-details{
  width: 80%;
  padding:1em;
}