	@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Estrelas *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Destaca as estrelas *****/

.rating > input:checked ~ label, /* Mostra as estrelas quando clica */
.rating:not(:checked) > label:hover, /*Hover na estrela atual */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover nas estrelas anteriores não selecionadas */

.rating > input:checked + label:hover, /* hover na estrela atual quando passar em cima dele */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* Marcar seleção atual */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 