/* ---------------------------------------------------
    BOTÃO LARANJA
    ----------------------------------------------------- */

    .tdbotao-laranja{
        background-color: orange;
    }
    .tdbotao-laranja span{
        color:white;
    }

    .tdbotao-vermelho{
        background-color: #cc0000;
    }
    .tdbotao-vermelho span{
        color:white;
    }

    .tdbotao-verde{
        background-color: green;
    }
    .tdbotao-verde span{
        color:white;
    }

    .tdbotao-azul{
        background-color: blue;
    }
    .tdbotao-azul span{
        color:white;
    }

    .btn-laranja{
        color:#fff;
        background-color:#FA7500;
        border-color:#D16302
    }
    .btn-laranja.focus,.btn-laranja:focus{
        color:#fff;
        background-color:#FA7500;
        border-color:#FFA507
    }
    .btn-laranja:hover{
        color:#fff;
        background-color:#FA7500;
        border-color:#D16302
    }
    .btn-laranja.active,.btn-laranja:active,.open>.dropdown-toggle.btn-laranja{
        color:#fff;
        background-color:#FA7500;
        border-color:#D16302
    }
    .btn-laranja.active.focus,.btn-laranja.active:focus,.btn-laranja.active:hover,.btn-laranja:active.focus,.btn-laranja:active:focus,.btn-laranja:active:hover,.open>.dropdown-toggle.btn-laranja.focus,.open>.dropdown-toggle.btn-laranja:focus,.open>.dropdown-toggle.btn-laranja:hover{
        color:#fff;
        background-color:#D16302;
        border-color:#FFA507
    }
    .btn-laranja.active,.btn-laranja:active,.open>.dropdown-toggle.btn-laranja{
        background-image:none
    }
    .btn-laranja.disabled.focus,.btn-laranja.disabled:focus,.btn-laranja.disabled:hover,.btn-laranja[disabled].focus,.btn-laranja[disabled]:focus,.btn-laranja[disabled]:hover,fieldset[disabled] .btn-laranja.focus,fieldset[disabled] .btn-laranja:focus,fieldset[disabled] .btn-laranja:hover{
        background-color:#C55D03;
        border-color:#EE6F00
    }
    .btn-laranja .badge{
        color:#C55D03;
        background-color:#fff
    }

    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
        color: #fff;
        background-color: #c55d03;
    }

/* ---------------------------------------------------
    MESAS
    ----------------------------------------------------- */
    .Mesa {
        display: table;
        position: relative;
        margin: 4px auto 0;
        width: 90px;
        background-color: #0074D9;
        color: white;
        transition: all 0.2s ease;
    }
    .Mesa-verde {
        background-color: #2ECC40;
    }
    .Mesa-cinza {
        background-color: #343C3F;
    }
    .Mesa-laranja {
        background-color: #C55D03;
    }
    .Mesa-preta {
        background-color: #666666;
    }
    .Mesa-vermelha {
        background-color: #cc0000;
    }


    .Mesa-icon {
        display: table-cell;
        vertical-align: middle;
        width: 60px;
        padding: 30px;
        text-align: center;
        background-color: #00000040;

        >i {
          width: 20px;
          font-size: 20px;
      }
  }
  .Mesa-corpo {
    display: table-cell;
    vertical-align: middle;
    padding: 30px 20px 30px 10px;
    
    > p {
      color: blue;
      line-height: 1.2;
      margin-top: 6px;
  }
}

.Mesa-botao {
    position: relative;
    margin: 15px 5px -10px;
    background-color: rgba(black, 0.25);
    box-shadow: 0 3px rgba(black, 0.4);
    border:none;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Source Sans Pro';
    color: #fff;
    outline: none;
    cursor: pointer;
    
    &:hover {
      background: rgba(black, 0.3);
  }

  &:active {
      background: rgba(black, 0.3);
      box-shadow: 0 0px rgba(black, 0.4);
      top: 3px;
  }
}

.Mesa-notificacao {
    position: absolute;
    background-color: #00000047;
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    right: 5px;
    top: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}