
/* ---------------------------------------------------
    GERAL
    ----------------------------------------------------- */
    @import '../Poppins.css';


    body {
        font-family: 'Poppins', sans-serif;
        background: #fafafa;
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.7em;
    }

    a{
        color: white;
    }
    a, a:hover, a:focus {
        text-decoration: none;
        transition: all 0.3s;
    }

    .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #ddd;
        margin: 40px 0;
    }


/* ---------------------------------------------------
    CONTADOR DO CARRINHO 
    ----------------------------------------------------- */
    a.cart > span {
      text-align: center;
      width: 24px;
      height: 24px;
      font-size: 16px;
      color: #fff;
      line-height: 24px;
      position: absolute;
      -moz-border-radius: 12px;
      -webkit-border-radius: 12px;
      border-radius: 12px;
      display: block;
      transform: scale(0);
      -o-transform: scale(0);
      -ms-transform: scale(0);
      -moz-transform: scale(0);
      -webkit-transform: scale(0);
      top: 350px;
      left: 70px;
      margin: auto;
      background: #c55d03;
      box-shadow: 0 3px 6px rgba(255, 171, 0, 0.16), 0 3px 6px rgba(255, 171, 0, 0.23);
      -moz-box-shadow: 0 3px 6px rgba(255, 171, 0, 0.16), 0 3px 6px rgba(255, 171, 0, 0.23);
      -webkit-box-shadow: 0 3px 6px rgba(255, 171, 0, 0.16), 0 3px 6px rgba(255, 171, 0, 0.23);
  }

  a.cart > span.counter {
      -webkit-transition: .2s linear;
      -moz-transition: .2s linear;
      -ms-transition: .2s linear;
      -o-transition: .2s linear;
      transition: .2s linear;
      transform: scale(1);
      -o-transform: scale(1);
      -ms-transform: scale(1);
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
  }

/* ---------------------------------------------------
    BOTÃO LARANJA
    ----------------------------------------------------- */

    .btn-laranja{
        color:#fff;
        background-color:#FA7500;
        border-color:#D16302
    }
    .btn-laranja.focus,.btn-laranja:focus{
        color:#fff;
        background-color:#FA7500;
        border-color:#FFA507
    }
    .btn-laranja:hover{
        color:#fff;
        background-color:#FA7500;
        border-color:#D16302
    }
    .btn-laranja.active,.btn-laranja:active,.open>.dropdown-toggle.btn-laranja{
        color:#fff;
        background-color:#FA7500;
        border-color:#D16302
    }
    .btn-laranja.active.focus,.btn-laranja.active:focus,.btn-laranja.active:hover,.btn-laranja:active.focus,.btn-laranja:active:focus,.btn-laranja:active:hover,.open>.dropdown-toggle.btn-laranja.focus,.open>.dropdown-toggle.btn-laranja:focus,.open>.dropdown-toggle.btn-laranja:hover{
        color:#fff;
        background-color:#D16302;
        border-color:#FFA507
    }
    .btn-laranja.active,.btn-laranja:active,.open>.dropdown-toggle.btn-laranja{
        background-image:none
    }
    .btn-laranja.disabled.focus,.btn-laranja.disabled:focus,.btn-laranja.disabled:hover,.btn-laranja[disabled].focus,.btn-laranja[disabled]:focus,.btn-laranja[disabled]:hover,fieldset[disabled] .btn-laranja.focus,fieldset[disabled] .btn-laranja:focus,fieldset[disabled] .btn-laranja:hover{
        background-color:#C55D03;
        border-color:#EE6F00
    }
    .btn-laranja .badge{
        color:#C55D03;
        background-color:#fff
    }

/* ---------------------------------------------------
    CONTEÚDO FINAL DO DESTAQUE
    ----------------------------------------------------- */
    body, .row{
     background: #212121;
 }

 .branco{
    color: white;
}
.metade{
    width:50%;
}