/* ---------------------------------------------------
    GERAL
    ----------------------------------------------------- */
    @import '../Poppins.css';


    body {
        font-family: 'Poppins', sans-serif;
        background: #fafafa;
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        font-weight: 300;
        line-height: 1.7em;
        color: #c55d03;
    }

    a, a:hover, a:focus {
        color: inherit;
        text-decoration: none;
        transition: all 0.3s;
    }

    li{
        color: white;
        border: 1px;
        border-color: white;
    }
    li:hover{
        color:black;
    }
    li:active, li:highlight:hover, li:link, li:visited, li:focus{
        color: #FA7500;
    }
    .navbar {
        padding: 15px 10px;
        background: #fff;
        border: none;
        border-radius: 0;
        margin-bottom: 40px;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    }

    .navbar-btn {
        box-shadow: none;
        outline: none !important;
        border: none;
    }

    .line {
        width: 100%;
        height: 1px;
        border-bottom: 1px dashed #ddd;
        margin: 40px 0;
    }

    i, span {
        display: inline-block;
    }

/* ---------------------------------------------------
    BOTÃO LARANJA
    ----------------------------------------------------- */

    .btn-laranja{
        color:#fff;
        background-color:#FA7500;
        border-color:#D16302
    }
    .btn-laranja.focus,.btn-laranja:focus{
        color:#fff;
        background-color:#FA7500;
        border-color:#FFA507
    }
    .btn-laranja:hover{
        color:#fff;
        background-color:#FA7500;
        border-color:#D16302
    }
    .btn-laranja.active,.btn-laranja:active,.open>.dropdown-toggle.btn-laranja{
        color:#fff;
        background-color:#FA7500;
        border-color:#D16302
    }
    .btn-laranja.active.focus,.btn-laranja.active:focus,.btn-laranja.active:hover,.btn-laranja:active.focus,.btn-laranja:active:focus,.btn-laranja:active:hover,.open>.dropdown-toggle.btn-laranja.focus,.open>.dropdown-toggle.btn-laranja:focus,.open>.dropdown-toggle.btn-laranja:hover{
        color:#fff;
        background-color:#D16302;
        border-color:#FFA507
    }
    .btn-laranja.active,.btn-laranja:active,.open>.dropdown-toggle.btn-laranja{
        background-image:none
    }
    .btn-laranja.disabled.focus,.btn-laranja.disabled:focus,.btn-laranja.disabled:hover,.btn-laranja[disabled].focus,.btn-laranja[disabled]:focus,.btn-laranja[disabled]:hover,fieldset[disabled] .btn-laranja.focus,fieldset[disabled] .btn-laranja:focus,fieldset[disabled] .btn-laranja:hover{
        background-color:#C55D03;
        border-color:#EE6F00
    }
    .btn-laranja .badge{
        color:#C55D03;
        background-color:#fff
    }

/* ---------------------------------------------------
    MEDIAQUERIES
    ----------------------------------------------------- */
    @media (max-width: 768px) {
        #sidebar {
            min-width: 80px;
            max-width: 80px;
            text-align: center;

        }
        #sidebar.active {
            margin-left: 0 !important;
        }

        #sidebar .sidebar-header h3, #sidebar .CTAs {
            display: none;
        }

        #sidebar .sidebar-header strong {
            display: block;
        }

        #sidebar ul li a {
            padding: 20px 10px;
        }

        #sidebar ul li a span {
            font-size: 0.85em;
        }
        #sidebar ul li a i {
            margin-right:  0;
            display: block;
        }

        #sidebar ul ul a {
            padding: 10px !important;
        }

        #sidebar ul li a i {
            font-size: 1.3em;
        }
        #sidebar {
            margin-left: 0;
        }
        #sidebarCollapse span {
            display: none;
        }
    }
/* ---------------------------------------------------
    CONTEÚDO FINAL DO DESTAQUE
----------------------------------------------------- */
body, .row{
     background: #212121;
 }

.branco{
    color: white;
}
.metade{
    width:50%;
}