#content{
	height: auto;
}
.branco{
	color: white;
}

.autola{
	max-width: 100%;width: 395px;height: 200px;object-fit: cover;
}

.centrado{
	text-align: center;
}
.esconde{
	display: none;
}

.one-for-all{
	width: 100%;height: 100%;
}

.fat>li>a{
	border-radius:0;
	padding:19px;
}
.btn_vermelho{
	color:red;
}

.btn_verde{
	color:green;
}