.input-group-lg>
.form-control-plaintext.form-control,
.input-group-lg>.input-group-append>
.form-control-plaintext.btn,.input-group-lg>
.input-group-append>
.form-control-plaintext.input-group-text,
.input-group-lg>.input-group-prepend>
.form-control-plaintext.btn,.input-group-lg>
.input-group-prepend>
.form-control-plaintext.input-group-text,.input-group-sm>
.form-control-plaintext.form-control,.input-group-sm>.input-group-append>
.form-control-plaintext.btn,.input-group-sm>
.input-group-append>.form-control-plaintext.input-group-text,.input-group-sm>
.input-group-prepend>
.form-control-plaintext.btn,.input-group-sm>
.input-group-prepend>
.form-control-plaintext.input-group-text{
	padding-right:0;
	padding-left:0
}

.form-control-sm,.input-group-sm>
.form-control,.input-group-sm>
.input-group-append>.btn,.input-group-sm>
.input-group-append>
.input-group-text,.input-group-sm>
.input-group-prepend>.btn,.input-group-sm>
.input-group-prepend>
.input-group-text{
	padding:.25rem .5rem;
	font-size:.875rem;
	line-height:1.5;
	border-radius:.2rem
}
.input-group-sm>
.input-group-append>
select.btn:not([size]):not([multiple]),.input-group-sm>.input-group-append>
select.input-group-text:not([size]):not([multiple]),.input-group-sm>.input-group-prepend>
select.btn:not([size]):not([multiple]),.input-group-sm>
.input-group-prepend>
select.input-group-text:not([size]):not([multiple]),.input-group-sm>select.form-control:not([size]):not([multiple]),select.form-control-sm:not([size]):not([multiple]){
	height:calc(1.8125rem + 2px)
}
.form-control-lg,.input-group-lg>.form-control,.input-group-lg>
.input-group-append>
.btn,.input-group-lg>
.input-group-append>
.input-group-text,.input-group-lg>
.input-group-prepend>.btn,.input-group-lg>
.input-group-prepend>.input-group-text{
	padding:.5rem 1rem;
	font-size:1.25rem;
	line-height:1.5;
	border-radius:.3rem
}
.input-group-lg>
.input-group-append>
select.btn:not([size]):not([multiple]),.input-group-lg>
.input-group-append>
select.input-group-text:not([size]):not([multiple]),.input-group-lg>
.input-group-prepend>select.btn:not([size]):not([multiple]),.input-group-lg>
.input-group-prepend>select.input-group-text:not([size]):not([multiple]),.input-group-lg>
select.form-control:not([size]):not([multiple]),select.form-control-lg:not([size]):not([multiple]){
	height:calc(2.875rem + 2px)
}

.input-group{
	width:auto
}

.input-group{
	width:auto
}

.input-group{
	position:relative;
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	-ms-flex-align:stretch;
	align-items:stretch;
	width:100%
}
.input-group>
.custom-file,.input-group>
.custom-select,.input-group>
.form-control{
	position:relative;
	-ms-flex:1 1 auto;
	flex:1 1 auto;
	width:1%;
	margin-bottom:0
}
.input-group>
.custom-file:focus,.input-group>
.custom-select:focus,.input-group>
.form-control:focus{
	z-index:3
}
.input-group>
.custom-file+.custom-file,.input-group>
.custom-file+.custom-select,.input-group>
.custom-file+.form-control,.input-group>
.custom-select+.custom-file,.input-group>
.custom-select+.custom-select,.input-group>
.custom-select+.form-control,.input-group>
.form-control+.custom-file,.input-group>
.form-control+.custom-select,.input-group>
.form-control+.form-control{
	margin-left:-1px
}
.input-group>
.custom-select:not(:last-child),.input-group>
.form-control:not(:last-child){
	border-top-right-radius:0;
	border-bottom-right-radius:0
}
.input-group>
.custom-select:not(:first-child),.input-group>
.form-control:not(:first-child){
	border-top-left-radius:0;
	border-bottom-left-radius:0
}
.input-group>.custom-file{
	display:-ms-flexbox;
	display:flex;
	-ms-flex-align:center;
	align-items:center
}
.input-group>
.custom-file:not(:last-child) .custom-file-label,.input-group>
.custom-file:not(:last-child) .custom-file-label::after{
	border-top-right-radius:0;
	border-bottom-right-radius:0
}
.input-group>
.custom-file:not(:first-child) .custom-file-label,.input-group>
.custom-file:not(:first-child) .custom-file-label::after{
	border-top-left-radius:0;
	border-bottom-left-radius:0
}
.input-group-append,.input-group-prepend{
	display:-ms-flexbox;
	display:flex
}
.input-group-append .btn,.input-group-prepend .btn{
	position:relative;
	z-index:2
}
.input-group-append .btn+.btn,.input-group-append .btn+.input-group-text,.input-group-append .input-group-text+.btn,.input-group-append .input-group-text+.input-group-text,.input-group-prepend .btn+.btn,.input-group-prepend .btn+.input-group-text,.input-group-prepend .input-group-text+.btn,.input-group-prepend .input-group-text+.input-group-text{
	margin-left:-1px
}
.input-group-prepend{
	margin-right:-1px
}
.input-group-append{
	margin-left:-1px
}
.input-group-text{
	display:-ms-flexbox;
	display:flex;
	-ms-flex-align:center;
	align-items:center;
	padding:.375rem .75rem;
	margin-bottom:0;
	font-size:1rem;
	font-weight:400;
	line-height:1.5;
	color:#495057;
	text-align:center;
	white-space:nowrap;
	background-color:#e9ecef;
	border:1px solid #ced4da;
	border-radius:.25rem
}
.input-group-text input[type=checkbox],.input-group-text input[type=radio]{
	margin-top:0
}
.input-group>.input-group-append:last-child>
.btn:not(:last-child):not(.dropdown-toggle),.input-group>
.input-group-append:last-child>
.input-group-text:not(:last-child),.input-group>
.input-group-append:not(:last-child)>
.btn,.input-group>
.input-group-append:not(:last-child)>
.input-group-text,.input-group>
.input-group-prepend>
.btn,.input-group>
.input-group-prepend>
.input-group-text{
	border-top-right-radius:0;
	border-bottom-right-radius:0
}
.input-group>
.input-group-append>
.btn,.input-group>
.input-group-append>
.input-group-text,.input-group>
.input-group-prepend:first-child>
.btn:not(:first-child),.input-group>
.input-group-prepend:first-child>
.input-group-text:not(:first-child),.input-group>
.input-group-prepend:not(:first-child)>
.btn,.input-group>
.input-group-prepend:not(:first-child)>
.input-group-text{
	border-top-left-radius:0;
	border-bottom-left-radius:0
}

.mb-3,.my-3{
	margin-bottom:1rem!important
}

.btn-outline-secondary{
	color:#6c757d;
	background-color:transparent;
	background-image:none;
	border-color:#6c757d
}
.btn-outline-secondary:hover{
	color:#fff;
	background-color:#6c757d;
	border-color:#6c757d
}
.btn-outline-secondary.focus,.btn-outline-secondary:focus{
	box-shadow:0 0 0 .2rem rgba(108,117,125,.5)
}
.btn-outline-secondary.disabled,.btn-outline-secondary:disabled{
	color:#6c757d;
	background-color:transparent
}
.btn-outline-secondary:not(:disabled):not(.disabled).active,.btn-outline-secondary:not(:disabled):not(.disabled):active,.show>
.btn-outline-secondary.dropdown-toggle{
	color:#fff;
	background-color:#6c757d;
	border-color:#6c757d
}
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,.show>
.btn-outline-secondary.dropdown-toggle:focus{
	box-shadow:0 0 0 .2rem rgba(108,117,125,.5)
}
.btn-outline-success{
	color:#28a745;
	background-color:transparent;
	background-image:none;
	border-color:#28a745
}
.btn-outline-success:hover{
	color:#fff;
	background-color:#28a745;
	border-color:#28a745
}

.form-control{
	display:block;
	width:100%;
	padding:.375rem .75rem;
	font-size:1rem;
	line-height:1.5;
	color:#495057;
	background-color:#fff;
	background-clip:padding-box;
	border:1px solid #ced4da;
	border-radius:.25rem;
	transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out
}
@media screen and (prefers-reduced-motion:reduce){
	.form-control{
		transition:none
	}
}
.form-control::-ms-expand{
	background-color:transparent;
	border:0
}
.form-control:focus{
	color:#495057;
	background-color:#fff;
	border-color:#80bdff;
	outline:0;
	box-shadow:0 0 0 .2rem rgba(0,123,255,.25)
}
.form-control::-webkit-input-placeholder{
	color:#6c757d;
	opacity:1
}
.form-control::-moz-placeholder{
	color:#6c757d;
	opacity:1
}
.form-control:-ms-input-placeholder{
	color:#6c757d;
	opacity:1
}
.form-control::-ms-input-placeholder{
	color:#6c757d;
	opacity:1
}
.form-control::placeholder{
	color:#6c757d;
	opacity:1
}
.form-control:disabled,.form-control[readonly]{
	background-color:#e9ecef;
	opacity:1
}
select.form-control:not([size]):not([multiple]){
	height:calc(2.25rem + 2px)
}
select.form-control:focus::-ms-value{
	color:#495057;
	background-color:#fff
}
.form-control-file,.form-control-range{
	display:block;
	width:100%
}
.col-form-label{
	padding-top:calc(.375rem + 1px);
	padding-bottom:calc(.375rem + 1px);
	margin-bottom:0;
	font-size:inherit;
	line-height:1.5
}
.col-form-label-lg{
	padding-top:calc(.5rem + 1px);
	padding-bottom:calc(.5rem + 1px);
	font-size:1.25rem;
	line-height:1.5
}
.col-form-label-sm{
	padding-top:calc(.25rem + 1px);
	padding-bottom:calc(.25rem + 1px);
	font-size:.875rem;
	line-height:1.5
}
.form-control-plaintext{
	display:block;
	width:100%;
	padding-top:.375rem;
	padding-bottom:.375rem;
	margin-bottom:0;
	line-height:1.5;
	color:#212529;
	background-color:transparent;
	border:solid transparent;
	border-width:1px 0
}
.form-control-plaintext.form-control-lg,.form-control-plaintext.form-control-sm,.input-group-lg>
.form-control-plaintext.form-control,.input-group-lg>
.input-group-append>
.form-control-plaintext.btn,.input-group-lg>
.input-group-append>
.form-control-plaintext.input-group-text,.input-group-lg>
.input-group-prepend>
.form-control-plaintext.btn,.input-group-lg>
.input-group-prepend>
.form-control-plaintext.input-group-text,.input-group-sm>
.form-control-plaintext.form-control,.input-group-sm>
.input-group-append>
.form-control-plaintext.btn,.input-group-sm>
.input-group-append>
.form-control-plaintext.input-group-text,.input-group-sm>
.input-group-prepend>
.form-control-plaintext.btn,.input-group-sm>
.input-group-prepend>
.form-control-plaintext.input-group-text{
	padding-right:0;
	padding-left:0
}
.form-control-sm,.input-group-sm>.form-control,.input-group-sm>
.input-group-append>
.btn,.input-group-sm>
.input-group-append>
.input-group-text,.input-group-sm>
.input-group-prepend>
.btn,.input-group-sm>
.input-group-prepend>
.input-group-text{
	padding:.25rem .5rem;
	font-size:.875rem;
	line-height:1.5;
	border-radius:.2rem
}
.input-group-sm>
.input-group-append>
select.btn:not([size]):not([multiple]),.input-group-sm>
.input-group-append>
select.input-group-text:not([size]):not([multiple]),.input-group-sm>
.input-group-prepend>
select.btn:not([size]):not([multiple]),.input-group-sm>.input-group-prepend>
select.input-group-text:not([size]):not([multiple]),.input-group-sm>select.form-control:not([size]):not([multiple]),select.form-control-sm:not([size]):not([multiple]){
	height:calc(1.8125rem + 2px)
}
.form-control-lg,.input-group-lg>
.form-control,.input-group-lg>
.input-group-append>
.btn,.input-group-lg>
.input-group-append>
.input-group-text,.input-group-lg>
.input-group-prepend>
.btn,.input-group-lg>
.input-group-prepend>
.input-group-text{
	padding:.5rem 1rem;
	font-size:1.25rem;
	line-height:1.5;
	border-radius:.3rem
}
.input-group-lg>
.input-group-append>
select.btn:not([size]):not([multiple]),.input-group-lg>
.input-group-append>select.input-group-text:not([size]):not([multiple]),.input-group-lg>
.input-group-prepend>select.btn:not([size]):not([multiple]),.input-group-lg>
.input-group-prepend>select.input-group-text:not([size]):not([multiple]),.input-group-lg>
select.form-control:not([size]):not([multiple]),select.form-control-lg:not([size]):not([multiple]){
	height:calc(2.875rem + 2px)
}
.form-group{
	margin-bottom:1rem
}
.form-text{
	display:block;
	margin-top:.25rem
}
.form-row{
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	margin-right:-5px;
	margin-left:-5px
}
.form-row>.col,.form-row>[class*=col-]{
	padding-right:5px;
	padding-left:5px
}
.form-check{
	position:relative;
	display:block;
	padding-left:1.25rem
}
.form-check-input{
	position:absolute;
	margin-top:.3rem;
	margin-left:-1.25rem
}
.form-check-input:disabled~.form-check-label{
	color:#6c757d
}
.form-check-label{
	margin-bottom:0
}
.form-check-inline{
	display:-ms-inline-flexbox;
	display:inline-flex;
	-ms-flex-align:center;
	align-items:center;
	padding-left:0;
	margin-right:.75rem
}
.form-check-inline .form-check-input{
	position:static;
	margin-top:0;
	margin-right:.3125rem;
	margin-left:0
}
.valid-feedback{
	display:none;
	width:100%;
	margin-top:.25rem;
	font-size:80%;
	color:#28a745
}
.valid-tooltip{
	position:absolute;
	top:100%;
	z-index:5;
	display:none;
	max-width:100%;
	padding:.5rem;
	margin-top:.1rem;
	font-size:.875rem;
	line-height:1;
	color:#fff;
	background-color:rgba(40,167,69,.8);
	border-radius:.2rem
}
.custom-select.is-valid,.form-control.is-valid,.was-validated .custom-select:valid,.was-validated .form-control:valid{
	border-color:#28a745
}
.custom-select.is-valid:focus,.form-control.is-valid:focus,.was-validated .custom-select:valid:focus,.was-validated .form-control:valid:focus{
	border-color:#28a745;
	box-shadow:0 0 0 .2rem rgba(40,167,69,.25)
}
.custom-select.is-valid~.valid-feedback,.custom-select.is-valid~.valid-tooltip,.form-control.is-valid~.valid-feedback,.form-control.is-valid~.valid-tooltip,.was-validated .custom-select:valid~.valid-feedback,.was-validated .custom-select:valid~.valid-tooltip,.was-validated .form-control:valid~.valid-feedback,.was-validated .form-control:valid~.valid-tooltip{
	display:block
}
.form-check-input.is-valid~.form-check-label,.was-validated .form-check-input:valid~.form-check-label{
	color:#28a745
}
.form-check-input.is-valid~.valid-feedback,.form-check-input.is-valid~.valid-tooltip,.was-validated .form-check-input:valid~.valid-feedback,.was-validated .form-check-input:valid~.valid-tooltip{
	display:block
}
.custom-control-input.is-valid~.custom-control-label,.was-validated .custom-control-input:valid~.custom-control-label{
	color:#28a745
}
.custom-control-input.is-valid~.custom-control-label::before,.was-validated .custom-control-input:valid~.custom-control-label::before{
	background-color:#71dd8a
}
.custom-control-input.is-valid~.valid-feedback,.custom-control-input.is-valid~.valid-tooltip,.was-validated .custom-control-input:valid~.valid-feedback,.was-validated .custom-control-input:valid~.valid-tooltip{
	display:block
}
.custom-control-input.is-valid:checked~.custom-control-label::before,.was-validated .custom-control-input:valid:checked~.custom-control-label::before{
	background-color:#34ce57
}
.custom-control-input.is-valid:focus~.custom-control-label::before,.was-validated .custom-control-input:valid:focus~.custom-control-label::before{
	box-shadow:0 0 0 1px #fff,0 0 0 .2rem rgba(40,167,69,.25)
}
.custom-file-input.is-valid~.custom-file-label,.was-validated .custom-file-input:valid~.custom-file-label{
	border-color:#28a745
}
.custom-file-input.is-valid~.custom-file-label::before,.was-validated .custom-file-input:valid~.custom-file-label::before{
	border-color:inherit
}
.custom-file-input.is-valid~.valid-feedback,.custom-file-input.is-valid~.valid-tooltip,.was-validated .custom-file-input:valid~.valid-feedback,.was-validated .custom-file-input:valid~.valid-tooltip{
	display:block
}
.custom-file-input.is-valid:focus~.custom-file-label,.was-validated .custom-file-input:valid:focus~.custom-file-label{
	box-shadow:0 0 0 .2rem rgba(40,167,69,.25)
}
.invalid-feedback{
	display:none;
	width:100%;
	margin-top:.25rem;
	font-size:80%;
	color:#dc3545
}
.invalid-tooltip{
	position:absolute;
	top:100%;
	z-index:5;
	display:none;
	max-width:100%;
	padding:.5rem;
	margin-top:.1rem;
	font-size:.875rem;
	line-height:1;
	color:#fff;
	background-color:rgba(220,53,69,.8);
	border-radius:.2rem
}
.custom-select.is-invalid,.form-control.is-invalid,.was-validated .custom-select:invalid,.was-validated .form-control:invalid{
	border-color:#dc3545
}
.custom-select.is-invalid:focus,.form-control.is-invalid:focus,.was-validated .custom-select:invalid:focus,.was-validated .form-control:invalid:focus{
	border-color:#dc3545;
	box-shadow:0 0 0 .2rem rgba(220,53,69,.25)
}
.custom-select.is-invalid~.invalid-feedback,.custom-select.is-invalid~.invalid-tooltip,.form-control.is-invalid~.invalid-feedback,.form-control.is-invalid~.invalid-tooltip,.was-validated .custom-select:invalid~.invalid-feedback,.was-validated .custom-select:invalid~.invalid-tooltip,.was-validated .form-control:invalid~.invalid-feedback,.was-validated .form-control:invalid~.invalid-tooltip{
	display:block
}