
/* ---------------------------------------------------
    GERAL
    ----------------------------------------------------- */
    /* devanagari */
 @import '../Poppins.css';

  body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i, span {
    display: inline-block;
}


/* ---------------------------------------------------
    SIDEBAR 
    ----------------------------------------------------- */
    .wrapper {
        display: flex;
        align-items: stretch;
    }

    #sidebar {
        min-width: 250px;
        max-width: 250px;
        background: #212121;
        color: #fff;
        transition: all 0.3s;
    }

    #sidebar.active {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
    }

    #sidebar.active .sidebar-header h3, #sidebar.active .CTAs {
        display: none;
    }

    #sidebar.active .sidebar-header strong {
        display: block;
    }

    #sidebar ul li a {
        text-align: left;
    }

    #sidebar.active ul li a {
        padding: 20px 10px;
        text-align: center;
        font-size: 0.85em;
    }

    #sidebar.active ul li a i {
        margin-right:  0;
        display: block;
        font-size: 1.8em;
        margin-bottom: 5px;
    }

    #sidebar.active ul ul a {
        padding: 10px !important;
    }

    #sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
        top: auto;
        bottom: 5px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }

    #sidebar .sidebar-header {
        padding: 20px;
        background: #C55D03;
    }

    #sidebar .sidebar-header strong {
        display: none;
        font-size: 1.8em;
    }

    #sidebar ul.components {
        padding: 20px 0;
    }

    #sidebar ul li a {
        padding: 10px;
        font-size: 1.1em;
        display: block;
    }
    #sidebar ul li a:hover {
        color: #212121;
        background: #fff;
    }
    #sidebar ul li a i {
        margin-right: 10px;
    }

    #sidebar ul li.active > a, a[aria-expanded="true"] {
        color: #fff;
        background: #C55D03;
    }


    .badge{
        color: #fff;
        background-color: #0000005e;
    }
    .badge2{
        display: inline-block;
        min-width: 10px;
        padding: 3px 7px 3px 7px;
        font-size: 23px;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        background-color: #0000005e;
        border-radius: 10px;
        margin: 5px;
    }

    a[data-toggle="collapse"] {
        position: relative;
    }

    a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
        content: '\e259';
        display: block;
        position: absolute;
        right: 20px;
        font-family: 'Glyphicons Halflings';
        font-size: 0.6em;
    }
    a[aria-expanded="true"]::before {
        content: '\e260';
    }


    ul ul a {
        font-size: 0.9em !important;
        padding-left: 30px !important;
        background: #C55D03;
    }

    ul.CTAs {
        padding: 20px;
    }

    ul.CTAs a {
        text-align: center;
        font-size: 0.9em !important;
        display: block;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    a.article2 {
        background: #fff;
        color: #212121;
    }

    a.article, a.article:hover {
        background: #C55D03 !important;
        color: #fff !important;
    }



/* ---------------------------------------------------
    ESTILO DE CONTEÚDO
    ----------------------------------------------------- */
    #content {
        padding: 20px;
        min-height: 100vh;
        transition: all 0.3s;
    }

/* ---------------------------------------------------
    ESTILO DE CONTEÚDO
    ----------------------------------------------------- */
    #direita{

    }

/* ---------------------------------------------------
    BOTÃO LARANJA
    ----------------------------------------------------- */

    .btn-laranja{
        color:#fff;
        background-color:#FA7500;
        border-color:#D16302
    }
    .btn-laranja.focus,.btn-laranja:focus{
        color:#fff;
        background-color:#FA7500;
        border-color:#FFA507
    }
    .btn-laranja:hover{
        color:#fff;
        background-color:#FA7500;
        border-color:#D16302
    }
    .btn-laranja.active,.btn-laranja:active,.open>.dropdown-toggle.btn-laranja{
        color:#fff;
        background-color:#FA7500;
        border-color:#D16302
    }
    .btn-laranja.active.focus,.btn-laranja.active:focus,.btn-laranja.active:hover,.btn-laranja:active.focus,.btn-laranja:active:focus,.btn-laranja:active:hover,.open>.dropdown-toggle.btn-laranja.focus,.open>.dropdown-toggle.btn-laranja:focus,.open>.dropdown-toggle.btn-laranja:hover{
        color:#fff;
        background-color:#D16302;
        border-color:#FFA507
    }
    .btn-laranja.active,.btn-laranja:active,.open>.dropdown-toggle.btn-laranja{
        background-image:none
    }
    .btn-laranja.disabled.focus,.btn-laranja.disabled:focus,.btn-laranja.disabled:hover,.btn-laranja[disabled].focus,.btn-laranja[disabled]:focus,.btn-laranja[disabled]:hover,fieldset[disabled] .btn-laranja.focus,fieldset[disabled] .btn-laranja:focus,fieldset[disabled] .btn-laranja:hover{
        background-color:#C55D03;
        border-color:#EE6F00
    }
    .btn-laranja .badge{
        color:#C55D03;
        background-color:#fff
    }

    .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
        color: #fff;
        background-color: #c55d03;
    }

/* ---------------------------------------------------
    MESAS
    ----------------------------------------------------- */
    .Mesa {
        display: table;
        position: relative;
        margin: 4px auto 0;
        width: 300px;
        background-color: #0074D9;
        color: white;
        transition: all 0.2s ease;
    }
    .Mesa-verde {
        background-color: #2ECC40;
    }
    .Mesa-cinza {
        background-color: #343C3F;
    }
    .Mesa-laranja {
        background-color: #C55D03;
    }

    .Mesa-icon {
        display: table-cell;
        vertical-align: middle;
        width: 60px;
        padding: 30px;
        text-align: center;
        background-color: #00000040;

        >i {
          width: 20px;
          font-size: 20px;
      }
  }
  .Mesa-corpo {
    display: table-cell;
    vertical-align: middle;
    padding: 30px 20px 30px 10px;
    
    > p {
      color: blue;
      line-height: 1.2;
      margin-top: 6px;
  }
}

.Mesa-botao {
    position: relative;
    margin: 15px 5px -10px;
    background-color: rgba(black, 0.25);
    box-shadow: 0 3px rgba(black, 0.4);
    border:none;
    padding: 10px 15px;
    font-size: 16px;
    font-family: 'Source Sans Pro';
    color: #fff;
    outline: none;
    cursor: pointer;
    
    &:hover {
      background: rgba(black, 0.3);
  }

  &:active {
      background: rgba(black, 0.3);
      box-shadow: 0 0px rgba(black, 0.4);
      top: 3px;
  }
}

.Mesa-notificacao {
    position: absolute;
    background-color: #00000047;
    color: #fff;
    border: none;
    outline: none;
    font-size: 20px;
    right: 5px;
    top: 5px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
    text-align: center;
}
/* ---------------------------------------------------
    MEDIAQUERIES
    ----------------------------------------------------- */
    @media (max-width: 768px) {
        #sidebar {
            min-width: 80px;
            max-width: 80px;
            text-align: center;
            margin-left: -80px !important ;
        }
        a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
            top: auto;
            bottom: 5px;
            right: 50%;
            -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
            transform: translateX(50%);
        }
        #sidebar.active {
            margin-left: 0 !important;
        }

        #sidebar .sidebar-header h3, #sidebar .CTAs {
            display: none;
        }

        #sidebar .sidebar-header strong {
            display: block;
        }

        #sidebar ul li a {
            padding: 20px 10px;
        }

        #sidebar ul li a span {
            font-size: 0.85em;
        }
        #sidebar ul li a i {
            margin-right:  0;
            display: block;
        }

        #sidebar ul ul a {
            padding: 10px !important;
        }

        #sidebar ul li a i {
            font-size: 1.3em;
        }
        #sidebar {
            margin-left: 0;
        }
        #sidebarCollapse span {
            display: none;
        }
    }
